*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.first{
    width: 70vw;
    height: 40vh;
    border:2px solid black;
    background: url(fr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#0259a6;           
}